{{#> main}}
    {{#*inline "content"}}
        <div class="torrent-container d-flex flex-row flex-grow-1">
            <div class="torrent-table d-flex flex-column flex-grow-1">
                <form class="collapse p-2" id="torrent-add" action="/torrents/download" method="post" enctype="multipart/form-data">
                    <div class="input-group">
                        <input type="file" name="torrent" class="form-control" placeholder="Torrent" aria-label="Upload">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
                <div class="d-flex flex-row p-2">
                    <div class="d-flex flex-row me-5">
                        Total : {{ stats.totalTorrent }}<br />
                        Seeders : {{ stats.totalSeeders }}<br />
                        Leechers : {{ stats.totalLeechers }}
                    </div>
                    <div class="me-5">
                        <i class="bi bi-pie-chart"></i> Ratio : {{ stats.ratio }}<br />
                        <i class="bi bi-cloud-arrow-down"></i> Downloaded : {{ stats.downloaded }}<br />
                        <i class="bi bi-cloud-arrow-up"></i> Uploaded : {{ stats.uploaded }}<br />
                    </div>
                    <div class="me-5">
                        <i class="bi bi-download me-1"></i> Down rate : {{ stats.downRateGlobal }}<br />
                        <i class="bi bi-upload me-1"></i> Up rate : {{ stats.upRateGlobal }}
                    </div>
                </div>
                {{#each torrents}}
                    <div class="torrent-line d-flex flex-row p-2">
                        <div class="d-flex me-5">
                            <div class="me-2 text-black d-flex justify-content-center align-items-center">
                                <div class="border-end pe-2 me-2">
                                    {{#if isOpen}}
                                        <a href="/torrents/stop/{{hash}}" class="text-success" title="power off">
                                            <i class="bi bi-power"></i>
                                        </a>
                                    {{else}}
                                        <a href="/torrents/start/{{hash}}" class="text-danger" title="power on">
                                            <i class="bi bi-power"></i>
                                        </a>
                                    {{/if}}
                                </div>

                                {{#if isOpen}}
                                    <div class="border-end pe-2 me-2">
                                        {{#if isActive}}
                                            <a href="/torrents/pause/{{hash}}">
                                                <i class="bi bi-pause"></i>
                                            </a>
                                        {{else}}
                                            <a href="/torrents/play/{{hash}}">
                                                <i class="bi bi-play"></i>
                                            </a>
                                        {{/if}}
                                    </div>
                                {{/if}}
                            </div>
                            <div class="d-flex flex-column" data-toggle="collapse" href="#trackers-{{hash}}" role="button" aria-expanded="false" aria-controls="trackers-{{hash}}">
                                <div class="torrent-name">{{name}}</div>
                                <div class="small torrent-details">
                                    <span class="{{#if isComplete}}text-success{{/if}}">
                                        <i class="bi bi-cloud-arrow-down"></i> {{progress}}% - {{downloadedStr}} -
                                    </span>
                                    <i class="bi bi-calendar"></i> {{createdAt}} -
                                    <i class="bi bi-pie-chart"></i> {{ratio}} -
                                    <i class="bi bi-cloud-arrow-up"></i> {{ uploadedStr }} -
                                    <i class="bi bi-folder"></i> {{ filesCount }} -
                                    <i class="bi bi-database-fill"></i> {{ sizeStr }}
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row ms-auto align-items-center">
                            <div class="d-flex flex-row me-5">
                                <i class="bi bi-reception-4 me-2"></i> {{totalSeeders}} seeders - {{totalLeechers}} leechers
                            </div>
                            <div class="d-flex flex-row align-items-center justify-content-center me-5">
                                <i class="bi bi-download me-1"></i> {{ downRateStr }}/sec
                            </div>
                            <div class="d-flex flex-row align-items-center justify-content-center me-5">
                                <i class="bi bi-upload me-1"></i> {{ upRateStr }}/sec
                            </div>
                            <div>
                                <a href="/torrents/remove/{{hash}}" class="text-danger">
                                    <i class="bi bi-x-lg"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="torrent-trackers collapse p-2" id="trackers-{{hash}}">
                        <div class="d-flex flex-row">
                            <div class="d-flex flex-column me-2">
                                <div class="text-break">
                                    <i class="bi bi-hash"></i> {{hash}}<br />
                                    <i class="bi bi-archive"></i> {{file}}
                                </div>
                                <div class="my-3">
                                    <i class="bi bi-calendar"></i>  Loaded at {{ loadedAt }}<br />
                                    <i class="bi bi-calendar"></i>  Started at {{ startedAt }}<br />
                                    <i class="bi bi-calendar"></i>  Finished at {{ finishedAt }}<br />
                                </div>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Size</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#each files}}
                                        <tr>
                                            <td>{{name}}</td>
                                            <td>{{sizeStr}}</td>
                                        </tr>
                                    {{/each}}
                                    </tbody>
                                </table>
                            </div>
                            <div class="flex-grow-1">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>URL</th>
                                        <th>Seeders</th>
                                        <th>Leechers</th>
                                        <th>Downloaded</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#each trackers}}
                                        <tr>
                                            <td>{{url}}</td>
                                            <td>{{seeders}}</td>
                                            <td>{{leechers}}</td>
                                            <td>{{numberDownloaded}}</td>
                                        </tr>
                                    {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    {{/inline}}
{{/main}}
