{{#> main}}
    {{#*inline "content"}}
        <div class="global-container container mt-5">
            <form method="post" action="/authentication">
                <div class="d-flex flex-row w-100">
                    <div class="form-group flex-grow-1 me-3">
                        <label for="host">Host</label>
                        <input required type="text" name="host" class="form-control" id="host" placeholder="Host" value="{{host}}">
                    </div>
                    <div class="form-group me-3">
                        <label for="port">Port</label>
                        <input type="text" name="port" class="form-control" id="port" placeholder="Port" value="{{port}}">
                    </div>
                    <div class="form-group">
                        <label for="endpoint">Endpoint</label>
                        <input type="text" name="endpoint" class="form-control" id="endpoint" placeholder="Endpoint" value="{{endpoint}}">
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label for="userNameInput">Username</label>
                    <input required type="text" name="user" class="form-control" id="userNameInput" placeholder="Enter username" value="{{user}}">
                </div>
                <div class="form-group">
                    <label for="passwordInput">Password</label>
                    <input required type="password" name="password" class="form-control" id="passwordInput" placeholder="Password" value="{{password}}">
                </div>
                <button type="submit" class="btn btn-primary mt-2">Submit</button>
            </form>
        </div>
    {{/inline}}
{{/main}}
