@import "../../../node_modules/bootstrap/scss/bootstrap";

$red: #FF0000;
$blue: #0000FF;

body, html {
  background-color: #121212;
  height: 100%;
  color: $gray-300;
}

header {
  background-color: #2D2D2D;

  .torrent-header {
    color: $gray-300;
    font-size: 1.5em;
    h1 {
      font-size: 1.5em;
    }

    .torrent-icon {
      font-size: 2em;
    }
  }
}

.global-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height:auto !important; /* cross-browser */
  height: 100%; /* cross-browser */
}

.torrent-container {
  .torrent-table {
    color: white;

    .torrent-name {
      font-size: 1.2em;
    }

    .torrent-line {
      border-top: 1px solid black;

      &:first-child {
        border: 0;
      }

      .torrent-details {
        font-size: 12px;
        color: $gray-700;
      }
    }

    .torrent-trackers {
      table {
        font-size: 0.7em;
      }
    }
  }
}
