<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>rTorrent</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link media="all" rel="stylesheet" href="index.css" />
</head>
<body>
<div class="global-container container-fluid px-0">
    <header class="d-flex flex-column">
        <div class="ms-3 p-2 d-flex flex-row align-items-center torrent-header">
            <div class="h-100 me-3 torrent-icon">
                <i class="bi bi-share-fill"></i>
            </div>
            <div>
                <h1 class="p-0 m-0">rTorrent</h1>
                <div class="version">{{global "version"}}</div>
            </div>
            {{#if connected}}
                <div class="d-flex flex-row p-2 ms-auto">
                    <a class="me-3" data-toggle="collapse" href="#torrent-add" role="button" aria-expanded="false" aria-controls="torrent-add">
                        <i class="bi bi-plus-square-fill"></i>
                    </a>
                    <a href="/authentication/logout" class="text-end"><i class="bi bi-box-arrow-right"></i></a>
                </div>
            {{/if}}
        </div>
    </header>
    {{> content}}
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
